
{{changeSelectedItem}}


<div {{bindAttr class=":col-sm-6 width"}}> <!-- 控制列表寬度 col-md-3 col-md-4 ... 2~10-->
  
  <div class='box'>
    <div class='box-header'>
      <div  {{bindAttr class=":title titleType"}}>
        <i {{bindAttr class="titleIcon titleIconType"}}></i> <!--變數:標題圖案-->
        {{title}} <!--變數:標題-->
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12'> 


		{{#each listData}}

        <div {{bindAttr class=":box-statistic :box-content :text-right active"}} {{action clickListItem value}} >
          <h3 {{bindAttr class=":title titleType"}}>{{title}}</h3>
          <small>{{content}}</small>
          <div {{bindAttr class=":align-left icon iconType"}}></div>
        </div>
        {{/each}}

      </div> 
    </div>
  </div> 
</div> 